@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-beige: #ede8d0;
  --color-primary: #57caff;
  --color-secondary: #e08b61;
  --color-muted: #8adaff;
  --color-clicked-btn: #00a4f0;
  --color-hovered-btn: #24baff;

  --font-inter: "Inter", sans-serif;

  --font-weight-mediumlight: 550;
}
